$blue_bg:#008bff;
$submit_color:#329d31;
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.toolbar{
    background: $blue_bg;
    background-color: $blue_bg;
}

.heading{
    font-size: 10px;text-transform: capitalize;
              font-family: 'Montserrat', sans-serif;
}

.input_class{
    padding: 5px; border: 1px rgb(192,192,192) solid; border-radius: 3px;
}


.logo_img{
    width: 40px;
    height: auto;
    position: relative;
    float: left;
    margin-left: 10px;
}

.title_img{
    width: auto;
    height: 20px;
    margin-top: 5px;
    position: relative;
    margin-left: 10px;
}

.main_text{
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%);
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.sub_text{
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.topmargin10{
    text-align: center;
    margin-top: 10px;
}

.topmargin5{
    text-align: center;
    margin-top: 10px;
}

.mobile-input{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 25px;
    text-align: center;
    margin-left: 5px;
}

.submit-btn{
    position: relative;
    width: 80%;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    background: $submit_color;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Montserrat', sans-serif;
    
}